:root {
    --primary-color: #548565;
    --secondary-color: #94B49F;
    --third-color: #fffcf8;
    --fourth-color: #151411;
    --fifth-color: #DF7861;
    --sixth-color: #76549A;
    --seventh-color: #D9D9D9;
    /* Dark Mode */
    --dark-primary-color: #685e45;
    --dark-secondary-color: #797a68;
    --dark-third-color: #3d3835;
    --dark-fourth-color: #69695d;

    --bg-text-font-size: 8rem;
    --bg-number-font-size: 10rem;
    --bg-text-font-weight: 700;
    --bg-text-color: var(--third-color);
    --s-shadow-1: 0px 4px 8px #00000059;

    
}

@mixin boxDesign {
    box-shadow: var(--s-shadow-1), -15px 15px var(--secondary-color);
}

.projectCard {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    
    .projectImage {
        @include boxDesign();

        // width: 50%;
        height: 25%;
        position: relative;
        display: flex;

        img {
            width: 100%;
            height: auto;
        }
        
    }

    .project_id {
        opacity: 70%;
        font-size: var(--bg-number-font-size);
        font-weight: var(--bg-text-font-weight);
        color: var(--third-color);
        text-shadow: var(--s-shadow-1);
        z-index: -999;
        position: absolute;
        top: -30px;
        left: -50px;
    }
    .left {
        left: auto;
        right: -50px;
    }

    .projectInfo {
        width: 50%;
        position: relative;
        .project_title {
            font-weight: 700;
        }
        .project_desc {
            padding-top: 20px;
        }
        

        @mixin button {
            background: var(--secondary-color);
            padding: 13px 20px;
            color: var(--third-color);
            transition: all .1s;
            position: relative;
            
            &:hover {
                transform: translate(4px, 4px);
                &::after {
                    right: 0;
                    top: 0;
                }
            }
            &::after {
                content: '';
                position: absolute;
                border: 2px solid var(--secondary-color);
                height: clamp(0px, 100%, 100%);
                width: clamp(0px, 100%, 100%);
                right: -4px;
                top: 4px;
                z-index: -999;
                transition: all .1s;
            }
        }
        .project_button {
            height: 130px;
            .project_webButton {
                @include button();
            }
            .project_githubButton {
                @include button();
            }
        }
        .project_techs {
            color: var(--primary-color);
            font-size: 14px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}